@import "tailwindcss";

/* CSS VARIABLES */
:root {
  /* Colors */
  --border-color: #b3b3b3;
  --offerService-bg: #eff9fb;
  --color-white: white;
  --color-black: #000000;
  --button-color: #18abc6;
  --button-hover: #4dbfd3;
  --paragraph-color: #8d8d8d;
  --empty-input: #ff1a1a;

  /* Typography */
  --font-family-Poppins: "Poppins", Arial;
}
body {
  font-family: var(--font-family-manrope);
}
@font-face {
  src: url("./Poppins-Regular.ttf");
  font-family: "Poppins";
}
