@import "tailwindcss";

/* CSS VARIABLES */
:root {
  /* Colors */
  --border-color: #b3b3b3;
  --offerService-bg: #eff9fb;
  --color-white: white;
  --color-black: #000000;
  --button-color: #18abc6;
  --buttonOpacityColor: #18abc607;
  --button-hover: #4dbfd3;
  --paragraph-color: #8d8d8d;
}
body {
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@layer utilities {
  .font-popins {
    font-family: "Poppins";
  }
}
